/* 
* @Author: Marte
* @Date:   2018-11-24 11:28:05
* @Last Modified by:   Marte
* @Last Modified time: 2018-12-02 23:16:53
*/
#cc_main{
    /*background:pink;*/

}
#cc_main .cc_main{
    min-height: 640px;
    background:white;
    border:1px solid #D9D9D9;
}



.cc_main .main_top{
    box-sizing: border-box;
    height: 80px;
    background:url(../images/sc_mt.png)no-repeat;
    border-bottom: 2px solid #404040;
}




.cc_main .main_top2{
    height: 37px;
    background:url(../images/sc_mt2.png)no-repeat;
}



.cc_main .main_car{
    
    /*background:yellow;*/
}
.cc_main .main_car #main_car_ul{
    float:left;
    width: 980px;
    min-height: 404px;
    border:1px solid #D9D9D9;
}
.cc_main .main_car #main_car_ul li{
    box-sizing: border-box;
    width: 980px;
    height: 101px;
    border-bottom: 1px solid #D9D9D9;
}
.cc_main .main_car #main_car_ul li i{
    float:left;
    margin:16px 9px 0 16px;
    display:inline-block;
    width: 80px;
    height: 75px;
}
.cc_main .main_car #main_car_ul li p{
    float:left;
    width: 146px;
    padding-left:45px;
    padding-top: 20px;
    box-sizing: border-box;
    height: 101px;

}
.cc_main .main_car #main_car_ul li .idx{
    float:left;
    padding-top: 20px;
    width: 436px;
    padding-left: 10px;
    /*line-height: 100px;*/
}
/*.main .main_car #main_car_ul li span{
    display:block;
    padding-top: 20px;
    padding-left: 5px;
    height: 79px;
    width: 56px;
    float:left;
}*/
.cc_main .main_car #main_car_ul li  .btn0{
    
    width: 12px;
    height: 19px;
}
.cc_main .main_car #main_car_ul li  .btn{
    width: 12px;
    height: 19px;
}

.cc_main .main_car #main_car_ul li input{
    float:left;
    margin-top: 20px;
    border:1px solid #ccc;
    width: 27px;
    height: 17px;
    text-align: center;
}

.cc_main .main_car #main_car_ul li .price{
    padding-top: 20px;
    width: 174px;
    padding-left: 43px;
    color:#FF4500;
}
.cc_main .main_car #main_car_ul li .allprice{
    padding-top: 20px;
    width: 148px;
    color:red;
}
.cc_main .main_car #main_car_ul li .btn-close{
    width: 15px;
    height: 14px;
    color:#fff;
    text-align: center;
    line-height:13px;
    background: #B6B6B6;
    margin-left:25px;
    margin-top: 40px;
    display:inline-block;
    cursor:pointer;
}
.cc_main .main_car_bottom{
    width: 980px;
    height: 119px;
}
.cc_main .main_car_bottom #btnPrev{
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 38px;
    color:#333340;
    cursor:pointer;

}
.cc_main .main_car_bottom #btnClear{
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 38px;
    color:#333340;
    cursor:pointer;

}
.cc_main .main_car_bottom .total{
    padding-right: 50px;
    padding-top: 14px;
    font-size: 12px;
    line-height: 25px;
}
.cc_main .main_car_bottom .total>span{
    font-size: 18px;
    color:red;
}
.cc_main .main_car_bottom .to_cout{
    display:inline-block;
    box-sizing: border-box;
    width: 190px;
    height: 30px;
    line-height: 30px;
    background: #FF4500;
    color:#fff;
    margin-right: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
}
.cc_main .main_car_bottom .to_cout>a{
    font-size: 9px;
    color:#fff;
}
.f_t{
    width: 980px;
    height: 265px;
    background:url(../images/sc_mb.png)no-repeat;
    border-top: 1px solid #D9D9D9;
    border-bottom: 2px solid #5A5A5A;
}

/*轮播图*/
#cc_bottom h3{
                height: 50px;
                font-size: 9px;
                color:#333333;
                line-height: 50px;
                padding-left: 26px;
                text-align: left;
            }
            #cc_bottom .cc_bmt{
                display:inline-block;
                width: 980px;
                height: 265px;
                border-bottom: 2px solid #5A5A5A;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
            }
            .cc_bmt ul{
                float: left;
                position:absolute;
                overflow: hidden;
                height: 186px;
            }
            .cc_bmt ul li{
                float: left;
                width: 980px;
            }

            .cc_bmt ul li>div{
                float: left;
                padding:0 19px;
                width: 124px;
                height: 185px;
            }
            .cc_bmt ul li i{
                padding-right: 31px;
                width: 124px;
                height: 185px;
            }
            .cc_bmt ul li>div:nth-child(6){
                padding-right: 0;
            }
			.cc_bmt ul li>div img{
           		float: left;
           		width: 110px;
           		height: 110px;
           	}
			.cc_bmt ul li>div span{
				float: left;
				font-size: 10px;
				width: 124px;
				margin-top: 5px;
			}
			.cc_bmt ul li>div p{
				text-decoration: line-through;
				float: left;
				height: 10px;
				margin-top: 5px;
				font-size: 10px;
				width: 124px;
			}
			.cc_bmt ul li>div p span{
				float: right;
				height: 10px;
                margin-top: 0px;
                margin-right:-56px;
				color: red;
			}
			.cc_bmt ul li>div a{
				float: left;
				margin-top: 6px;
				height: 16px;
				width: 74px;
			}
			.cc_bmt ul li>div a img{
				height: 16px;
				width: 74px;
			}

            #cc_bottom .cc_bottom{
                display:inline-block;
                width: 980px;
                height: 128px;
                margin: 0 auto;
            }
            #cc_bottom .cc_bottom p{
                margin: 0;
                padding: 0;
                width: 980px;
                height: 128px;
                text-align: center;
                background:url(../images/cc_bt2.png)no-repeat;
                background-size: 100% 100%;
            }
            #cc_bottom i{display:block;position:absolute;top:32%;transform: translate(0,-50%);text-align: center;}
            #cc_bottom #right{right:0;}
            #cc_bottom i img{
            }