/* 
* @Author: Marte
* @Date:   2018-11-10 09:13:57
* @Last Modified by:   Marte
* @Last Modified time: 2018-12-02 14:12:46
*/
body{margin:0;
    padding:0;
    }
 
.main{
    position:relative;
}

s{
	text-decoration:line-through;
}
a{
	text-decoration:underline;
}

/*banner*/
.banner{
    width:770px;
    height:350px;
    margin-left: 210px;
}
.focus img{display: block;width: 770px;height: 350px;}
.focus{position:relative;overflow:hidden;height: 350px;}
.focus ul{position:absolute;overflow:hidden;}
.focus ul li{float:left;}
.focus .page{position:absolute;right:30px;bottom:8px;padding:10px;}
.focus .page span{display:inline-block;margin:0 5px;width:14px;height:14px;line-height:14px;background-color:#CCCCCC;text-align:center;color:#fff;border-radius: 50%;box-shadow:0 0 10px rgba(0,0,0,.5);color:transparent;}
.focus .page span.active{background-color:#1375C2;color:transparent;}


/*ads*/

.ads{
    width:770px;
    background: #228B22;
    height:38px;
    margin-left: 210px;
    position:relative;
    overflow: hidden;
    
    box-sizing: border-box;
    
}
.ads .ads1{
    background:#228B22;
    width:636px;
    height:38px;
    float:left;
}


.ads img{
      position:absolute;
      bottom:0;
      left:0;
}
.ads .lj{
    width:82px;
    height:38px;
    background: #228B22;
    float:right;
    position:relative;
    padding-top:10px ;
    padding-left: 10px;
}
.ads .lj a{
       display:block;
       height:14px;
       float:left;
}
.ads .lj span{
        position:absolute;
        display:block;
        width:6px;
        height:9px;
        float:left;
        right:30px;
        top:15px;

}

/*brand*/

.brand{
        width:770px;
        height:100%;
        background: #EFEFEF;
        margin-left: 210px;
        box-shadow: 3px 0px 4px #999 inset;
        box-sizing: border-box;
}
.brando{
        width:770px;
        height:280px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 8px;
        
}
.brandi{
        display:block;
        margin-left: 5px;
        float:left;
        margin-bottom: 5px;
        position: relative;
        overflow: hidden;

}
.brandi a{
	 	position: absolute;
        width: 147px;
        height: 132px;
        top: 132px;
        background: darkgray;
        color: white;
        font-size: 12px;
        line-height: 25px;
        /*padding: 10px;*/
        opacity: 0.5;
        text-decoration: none;

}

/*special*/

.special{
        width:765px;
        height:180px;
        /*background: red;*/
        position:relative;
        margin-left: 5px;
        padding-top:20px;
        padding-left: 8px;
        box-sizing: border-box;
    background: linear-gradient(to bottom, #E1E8EF, #EFF2F5);
    background-image: -moz-linear-gradient(bottom, #E1E8EF, #EFF2F5);
    background-image: -webkit-gradient(linear,top,bottom, color-stop(0, #E1E8EF), color-stop(1, #EFF2F5));
}

.special h1{
      font-size: 12px;
      margin-bottom: 14px;
}
.special-1{
        float:left;
       padding-left:8px ;
        width:358px;
       /* overflow:hidden;*/
        position:relative;
}
.special-1 img{
    float:left;
    margin-right: 5px;
}
.special-1 .imgt1{
    position:absolute;
    left:95px;
    top:-10px;
}
.special-1 p{
        float:left;
}
.special-1 p span{
    display:block;
    margin-bottom: 10px;
    font-size: 10px;
     
}
.special-1 p span{

}
.special_a{
        float:left;

}



/*Arrivals*/

.Arrivals{
    width:765px;
    height:294px;
    background: #FFFFFF;
    margin-left: 5px;
    padding-top: 24px;
    
    
    overflow:hidden;
    padding-left: 8px;

}
.Arrivals h1{
    margin-bottom: 30px;
}
 .wire{
     display:block;
     width:770px;
     height:2px;
     background: #000;
     }
.Arrivals .left{
      width:33px;
      height:222px;
     
      position:relative;
      overflow:hidden;
}

.Arrivals .left a{
    display:block;
    width:13px;
    height:33px;
}
.Arrivals .left img{
    position:absolute;
    top:50%;
    right:30%;
    margin-left: 20px;
}
.Arrivals div{
    float:left;
}

.Arrivals_a{
     width:676px;
     height:290px;
     margin-left: 15px;

}
.Arrivals_a_1{
    width:166px;
    height:222px;
    float:left;
    text-decoration:none;
    color:#000;
}
.Arrivals_a_1 p span{
    font-size: 10px;
    display:block;
    
}

.Arrivals .right{
    width:33px;
    float:right;
    height:222px;
    position:relative;
    overflow:hidden;
}

.Arrivals  .right img {
     position:absolute;
     top:50%;
     left:30%;
}

/*Sellers*/
.wire2{
    display:block;
     width:770px;
     height:2px;
     background: #000;
     margin-bottom:20px;

    
}
.Sellers{
    width:770px;
    height:850px;
    margin-left: 5px;
    padding-top:10px;
    background: #fff;
}
.Sellers h1{
    margin-left: 8px;
    margin-bottom: 20px;

}
.Sellers_1{
    width:765px;
    height:790px;
   
}
.Sellers_a{
    width:168px;
    height:230px;
    float:left;
    font-size: 10px;
    display:block;
    margin:10px;
    text-decoration: none;
    color:#000;
    padding-left: 20px;
    box-sizing: border-box;
}


.HandbagsNews{
    background:#fff;
    width:770px;
    height:100%;
    margin-left: 5px;
    padding-left: 20px;
    box-sizing: border-box;
}
.Newtop{
    
    margin-bottom: 22px;
}
.Newtop img{
     float:left;

}
.Newtop h1{
    display:inline-block;
}
.Newtop a{
      display:block;
      float:right;
      
}
.new  img{
      float:left;
      margin-right: 7px;
}
.new{
      margin-bottom: 12px;
}

.xgg{
	position: fixed;
	top:120px;
	left: 50%;
	transform: translateX(490px);
}



          /*intex_轮播图*/
            #newArrivals{
                height: 294px;
                width: 770px;
                overflow:hidden;
            }
            #newArrivals h3{
                height: 50px;
                font-size: 9px;
                color:#333333;
                line-height: 50px;
                padding-left: 26px;
                text-align: left;
            }
            #newArrivals .newArrivals_a{
                display:inline-block;
                padding: 0  15px;
                width: 770px;
                height: 230px;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
            }
            .newArrivals_a ul{
                float: left;
                position:absolute;
                overflow: hidden;
                height: 230px;
            }
            .newArrivals_a ul li{
                float: left;
                width: 770px;
            }

            .newArrivals_a ul li img{
                padding:0 13px;
                width: 161px;
                height: 230px;
            }
            .newArrivals_a ul li i{
                padding-right: 31px;
                width: 124px;
                height: 230px;
            }
            .newArrivals_a ul li img:nth-child(6){
                padding-right: 0;
            }


            #newArrivals .newArrivals{
                display:inline-block;
                width: 770px;
                height: 128px;
                margin: 0 auto;
            }
            #newArrivals .newArrivals p{
                margin: 0;
                padding: 0;
                width: 770px;
                height: 128px;
                text-align: center;
                background:url(../images/cc_bt2.png)no-repeat;
                background-size: 100% 100%;
            }
            #newArrivals i{display:block;position:absolute;top:32%;transform: translate(0,-50%);text-align: center;}
            #newArrivals #right1{right:4.4%;}
            #newArrivals #left1{left:3.6%;}
            #newArrivals i img{
            }