#main{
	border-top: 3px solid #CFCFCF;
}
.main{
	height: 1536px;
	border-bottom: 2px solid #5A5A5A;
}
.main .m_TopLink p span{
	display: inline-block;
	width: 15px;
	height: 13px;
	background: url(../images/m_TopLink_home.png)no-repeat;
	margin: 0 4px;
}
.main .m_TopLink p{
	font-size: 12px;
	line-height: 30px;
}
.main .m_TopLink p a{
	text-decoration:none;
	color: #000 ;
	margin: 0 4px;
}
.main .m_left{
	width: 200px;
	padding-right:10px ;
	height: 1454px;
}
.main .m_left .m_left_top{
	height: 28px;

}
.main .m_left .m_left_top p:nth-child(1){
	float: left;
	width: 48px;
	font-size: 12px;
	line-height: 28px;
	font-weight: 900;
	border-bottom: 2px solid #000000;
}
.main .m_left .m_left_top p:nth-child(2){
	height: 28px;
	border-bottom: 2px solid #CFCFCF;
}
.main .m_left .m_left_middle1{
	height: 538px;
	border-bottom: 1px solid #CFCFCF;	
}
.main .m_left .m_left_middle2 .m_l_m2_top{
	height: 24px;
	border-top: 1px solid #FFFFFF;
	background: linear-gradient(#E5E5E5,#FFFFFF);
}
.main .m_left .m_left_middle2 .m_l_m2_top h5{
	font-size: 10px;
	margin: 14px 0 0 11px;
	font-weight: 900;
	color: #000000;
}
.main .m_left .m_left_middle2 .m_l_m2_top ul li p{
	font-size: 10px;
	color: #000000;
	line-height: 18px;
}
.main .m_left .m_left_middle2 .m_l_m2_top ul li{
	height: 227px;
	padding-top:10px ;
	border-bottom: 1px dashed #CFCFCF;
}
.main .m_left .m_left_middle2 .m_l_m2_top ul li p:nth-child(3) span{
	text-decoration:line-through;
}
.main .m_left .m_left_middle2 .m_l_m2_top ul li p:nth-child(4) span{
	color: #FF4552;
}
.main .m_left .m_left_middle2 .m_l_m2_top ul li p:nth-child(5) {
	color: #628B86;
}

.main .m_right{
	width: 770px;
	height: 1454px;
}
.main .m_right .m_right_top{
	height: 28px;
	border-bottom: 2px solid #000000;
}
.main .m_right .m_right_top p{
	float: left;
	width: 50%;
	font-size: 12px;
	line-height: 28px;
	font-weight: 900;
}
.main .m_right .m_right_top p a{
	color: #000000;
	margin-left: 16px;
}
.main .m_right .m_right_top p a:nth-child(1){
	color: #FF4552;
}
.main .m_right .m_right_top p span{
	display: inline-block;
	width: 10px;
	height: 10px;
}
.main .m_right .m_right_top p span:nth-child(2){
	background: url(../images/m_right_top_Upward.png)no-repeat;
}
.main .m_right .m_right_top p span:nth-child(4){
	background: url(../images/m_right_top_down.png)no-repeat;
}
.main .m_right .m_right_top ul li{
	float: left;
	font-size: 12px;
	line-height: 28px;
	padding: 0 10px;
}
.main .m_right .m_right_top ul li a{
	color: #000000;
}
.main .m_right .m_right_top ul li:nth-child(2) a{
	color: #FF4584;
}

.main .m_right .m_right_bottom{
	padding-top: 12px;
}
.main .m_right .m_right_bottom ul li{
	float: left;
	width: 25%;
	text-align: center;
	height: 282px;
}
.main .m_right .m_right_bottom ul li p{
	font-size: 10px;
	color: #000000;
	line-height: 22px;
	text-align: left;
	margin-left: 8px;
}
.main .m_right .m_right_bottom ul li p a{
	text-decoration: underline;
	color: #000000;
	margin-right:5px;
}
.main .m_right .m_right_bottom ul li p:nth-child(3) span:nth-child(1){
	text-decoration:line-through;
}
.main .m_right .m_right_bottom ul li p:nth-child(3) span:nth-child(2){
	color: #FF4552;
}
.main .m_right .m_right_bottom ul li p:nth-child(4){
	color: #628B86;
}
.main .m_right .m_right_bottom ul li p:nth-child(5) span{
	margin-left: 30px;
	font-size:12px ;
	color: orangered;
	font-weight: 900;
}
.main .m_bottom{
	float: left;
	height: 52px;
	width: 100%;
}
.main .m_bottom ul li{
	float: left;
	font-size: 12px;
	line-height: 52px;
	padding: 0 10px;
}
.main .m_bottom ul li:nth-child(1) span{
	font-weight: 900;
	padding: 0 6px;
}
.main .m_bottom ul li a{
	color: #000000;
}
.main .m_bottom ul li:nth-child(3) a{
	color: #FF4584;
}
