/* 
* @Author: Marte
* @Date:   2018-11-17 09:18:18
* @Last Modified by:   Marte
* @Last Modified time: 2018-12-02 21:35:39
*/
.m_left .main_tblb{
    width: 200px;
    background:#fff;
    font-size: 10px;
    line-height: 24px;
    color:#334354;
    border-bottom: 1px solid #CFCFCF;
}
.m_left .main_tblb a{
    color:#334354;
}
.m_left .main_tblb li:hover{
    color:red;
}
.m_left .main_tblb a:hover{
    color:red;
}
.m_left .main_tblb ul{
    overflow:hidden;
    width: 200px;
}
.m_left .main_tblb h3{
    position:relative;
    padding-left: 15px;
    margin-top:10px;
    z-index:0;
}

.m_left .main_tblb .htwo{
    margin-top: 0;
}
.m_left .main_tblb i{
    position: absolute;
    left:1px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 10px;
}
.m_left .main_tblb .m_red{
    color:red;
}
.m_left .main_tblb .jia{
    background: url(../images/main_tblb_jia.png) no-repeat 0 0;
}
.m_left .main_tblb .jian{
    background: url(../images/main_tblb_fk.png) no-repeat 0 0;
}
.m_left .main_tblb>ul>li{
    padding-left:3px;
    height: 24px;
}
.xgg{
     position: fixed;
    top:210px;
    left:50%;
    transform:translateX(492px);
     
}
